.uk-adsy-menu-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.uk-adsy-menu-main {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  flex: 1 1 100%;
}

.uk-adsy-menu-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.uk-adsy-menu-content {
  transform: translateX(0);
  background-color: rgb(255,255,255);
  flex-grow: 1;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: auto;
  touch-action: pan-y;
  transition: transform .3s ease;
}

.uk-adsy-menu-content-overlay {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0,0,0,0.2);
  transition: opacity .3s ease, transform .3s ease;
}

.uk-navbar-toggle > svg {
  height: 70%;
  margin-right: -40%;
}

.uk-navbar-toggle > svg > path {
  stroke-width: 15;
  stroke:rgba(255,255,255,0.7);
  fill: transparent;
  transition:
    stroke-dasharray .5s ease-in-out,
    stroke-dashoffset .5s ease-in-out;
}

.uk-navbar-toggle > svg > path.top-bar,
.uk-navbar-toggle > svg > path.bottom-bar {
  stroke-dasharray: 240px 910px;
}

.uk-navbar-toggle > svg > path.middle-bar {
  stroke-dasharray: 240px 240px;
}

.uk-adsy-menu-wrapper-sidebar-open .uk-navbar-toggle > svg > path.top-bar,
.uk-adsy-menu-wrapper-sidebar-open .uk-navbar-toggle > svg > path.bottom-bar {
  stroke-dashoffset: -650px;
}

.uk-adsy-menu-wrapper-sidebar-open .uk-navbar-toggle > svg > path.middle-bar {
  stroke-dasharray: 0px 220px;
  stroke-dashoffset: -120px;
}

.uk-adsy-menu-wrapper-sidebar-open .uk-adsy-menu-content-overlay,
.uk-adsy-menu-wrapper-sidebar-open .uk-adsy-menu-content {
  transform: translateX($sidebar-width);
}

.uk-adsy-menu-wrapper-sidebar-open .uk-adsy-menu-content-overlay {
  opacity: 1;
  pointer-events: all;
}

@media (min-width: $breakpoint-large) {
  .uk-adsy-menu-sidebar {
    position: static;
  }

  .uk-adsy-menu-wrapper-sidebar-open .uk-adsy-menu-content {
    transform: none;
  }

  .uk-adsy-menu-content-overlay {
    display: none;
  }
}