<h1>Colors</h1>
<div class="uk-grid uk-child-width-1-4@s uk-text-center">
  <div>
    <div class="uk-background-default uk-padding uk-box-shadow-large">
      Default
      <br>
      <br>
      <code>uk-background-default</code>
    </div>
  </div>
  <div>
    <div class="uk-background-muted uk-padding uk-box-shadow-large">
      Muted
      <br>
      <br>
      <code>uk-background-muted</code>
    </div>
  </div>
  <div>
    <div class="uk-background-primary uk-light uk-padding uk-box-shadow-large">
      Primary
      <br>
      <br>
      <code>uk-background-primary</code>
    </div>
  </div>
  <div>
    <div class="uk-background-secondary uk-light uk-padding uk-box-shadow-large">
      Secondary
      <br>
      <br>
      <code>uk-background-secondary</code>
    </div>
  </div>
</div>

<h2>Variables</h2>

You can use our Adfinis SyGroup specific colors with the following SCSS variables:

<ul class="uk-list uk-list-bullet">
  <li><code>$adsy-color-primary</code> (same as <code>$default-primary-background</code>)</li>
  <li><code>$adsy-color-grey-1</code></li>
  <li><code>$adsy-color-grey-2</code></li>
</ul>