<h1 class="uk-heading-divider">Icons</h1>

Icons can be used with the following component. A list of all available icons
and their names can be found <a href="https://getuikit.com/docs/icon#library">here</a>.

{{code-snippet name='components-icons-1.hbs'}}

<table class="uk-table uk-table-divider">
  <thead>
    <tr>
      <th>Option</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>icon</code></td>
      <td><code>''</code></td>
      <td>The name of the icon</td>
    </tr>
    <tr>
      <td><code>ratio</code></td>
      <td><code>1</code></td>
      <td>The ratio to use for the size of the icon</td>
    </tr>
  </tbody>
</table>