<div class="uk-container uk-container-expand">
  <nav class="uk-navbar">
    {{yield (hash
      brand  = (component 'uk-adsy-topnav/brand')
      toggle = (component 'uk-adsy-topnav/toggle')
      list   = (component 'uk-adsy-topnav/list')
      left   = (component 'uk-adsy-topnav/container' 'left')
      right  = (component 'uk-adsy-topnav/container' 'right')
    )}}
  </nav>
</div>