.uk-sidebar {
  height: 100%;
  width: $sidebar-width;
  padding-top: $global-medium-gutter;
  padding-bottom: $global-medium-gutter;
}

.uk-sidebar .uk-nav li.uk-nav-header {
  border-bottom: 1px solid $nav-default-item-color;
  padding: 7px 0;
  margin: 0 $global-medium-gutter;
}

.uk-sidebar .uk-nav li a {
  padding: 7px $global-medium-gutter;
  position: relative;
}

.uk-sidebar .uk-nav li a.active {
  color: $global-primary-background;
  border-right: 3px solid $global-primary-background;
}