$adsy-color-blue: rgb(91,142,219);
$adsy-color-grey-1: rgb(162,155,150);
$adsy-color-grey-2: rgb(134,127,124);

$global-primary-background: $adsy-color-blue;
$global-secondary-background: rgb(87,87,87);

$global-font-family: 'Fira Sans', sans-serif;
$base-code-font-family: 'Fira Code', monospace;

$base-body-font-weight: 300;
$base-heading-font-weight: 300;