<h1 class="uk-heading-divider">Installation</h1>

<p>
  To use the theme you need to install it by running the following command in
  your terminal.
</p>

{{code-snippet name="getting-started-installation-1.sh"}}

<p>
  This will install <code>uikit</code> and <code>ember-cli-sass</code>. To
  include the styles in your application you need to add the following import
  at the start of your <code>/app/styles/app.scss</code>.
</p>

{{code-snippet name="getting-started-installation-2.scss"}}

<p>
  If you want to customize any of the variables, define them before importing
  the addon.
</p>

{{code-snippet name="getting-started-installation-3.scss"}}