<h1 class="uk-heading-divider">Javascript</h1>

<p>
  You can also use all of the Javascript features UIkit provides.
  To use the UIkit global, include it in your component like so:
</p>

{{code-snippet name="getting-started-javascript.js"}}